<br />
<br />
<footer>
   
    @*<div class="pull-left">
        Version: <strong>@ViewBag.Version</strong>
    </div>*@

    <div class="pull-right">
        <strong>&copy; @DateTime.Now.Year.ToString() <a href="#" target="_blank">Công ty Cổ Phần Sản Xuất Và Phát Triển Công Nghệ GB Việt Nam</a></strong>
    </div>
    <div class="clearfix"></div>
</footer>