@model List<WebSaleCable.Shared.Model.Product.ProductModels>
    @using WebSaleCable.Shared
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="item list-group-item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="img-responsive" alt="03" src="@string.Format("{0}", string.IsNullOrEmpty(item.ImageURL) ? Commons.Image400_250 : Url.Content(item.ImageURL))">
                @*<img class="group list-group-image" src="@Commons.Image350_200" alt="" />*@
                <div class="caption">
                    <p class="">
                        @item.Name
                    </p>
                    <p class="">
                        <i style="font-weight:bold">Địa chỉ:</i> ABC
                    </p>
                    <p class="">
                        <i style="font-weight:bold">Chiều dài:</i>ABC
                    </p>
                    <p class="">
                        <i style="font-weight:bold">Chiệu rộng:</i>ABC
                    </p>
                    <p class="">
                        <i style="font-weight:bold">Diện tích:</i> ABC
                    </p>
                    <p class="">
                        <i style="font-weight:bold">Giá:</i> ABC
                    </p>
                    <p class="moretext">
                        <i style="font-weight:bold">Mô tả:</i> ABC
                    </p>
                </div>
            </div>
        </div>
    }
}else
{
<p> Không tìm thấy kết quả tìm kiếm</p>
}