@using WebSaleCable.Shared
@model WebSaleCable.Shared.Model.Product.ProductViewModels
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
}
<style>
    /*.bx-viewport{
        height:415px !important;
    }*/
</style>
<div id="fb-root"></div>
<div class="slideshow">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div id="home-slider">
                    <div class="header-top-right">
                        <div class="homeslider">
                            <ul id="contenhomeslider">
                                @{
                                    var listSlider = Session["SliderSession"] as List<WebSaleCable.Shared.Model.SliderSession>;
                                    if (listSlider != null && listSlider.Any())
                                    {
                                        foreach (var item in listSlider)
                                        {
                                            <li>
                                                <a href="#">
                                                    <img class="img-responsive" alt="01" src="@Url.Content("~/Images/silder/"+item.ImageUrl)">
                                                </a>
                                            </li>
                                        }
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <!--Begin-->
                <!--End-->
            </div>
        </div>
    </div>
</div>

<div class="listCate">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>


<div class="adv">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content">
                    <h2 class="page-heading">
                        <span class="page-heading-title">
                            Danh sách sản phẩm
                        </span>
                    </h2>
                    <div id="products" class="list-group">
                        @Html.Partial("_ListItem",Model)
                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowView(url) {
        ShowViewOrEdit(url);
        return false;
    }

    //function ShowViewAll(url)
    //{
    //    $('.addmore').addClass("hidden");
    //    ShowViewOrEdit(url);
    //    return false;
    //}

    function ShowViewOrEdit(action) {
        $.ajax({
            url: action,
            beforeSend: function () {
                //$(".se-pre-con").show();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
               // $(".se-pre-con").hide();
            },
            success: function (html) {
               // $(".se-pre-con").hide();
                ShowDetail(html);
            }
        });
    }

    function ShowDetail(content) {
        _tableReceiptHistory.destroy();
        $(".list-group").html(content);
        _tableReceiptHistory = $('#datatable-responsive').DataTable($.extend(true, {}, _settingsOptionTableReceiptHistory));
    }

    var _tableReceiptHistory = null;
    var _settingsOptionTableReceiptHistory = {
        "columnDefs": [
            { "orderable": false, "targets": [0] },
            { "width": "15%", "targets": [0] },
            { "width": "35%", "targets": [1] },
            { "width": "10%", "targets": [2, 4] },
            { "width": "15%", "targets": [3] },
        ],
        "order": [[1, 'asc']],
        "displayLength": 6,
        "bInfo": false,
        "lengthChange": false,
        "oLanguage": {

            "sSearch": "Tìm Kiếm:",
            "sLengthMenu": "Xem _MENU_",
            "sProcessing": "Đang xử lý...",
            "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
            "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
            "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
            "sInfoPostFix": "",
        },
    };

    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });
        _tableReceiptHistory = $('#datatable-responsive').DataTable($.extend(true, {}, _settingsOptionTableReceiptHistory));
        //var table = $('#datatable-responsive').DataTable({
        //    "columnDefs": [
        //        { "orderable": false, "targets": [0] },
        //        { "width": "15%", "targets": [0] },
        //        { "width": "35%", "targets": [1] },
        //        { "width": "10%", "targets": [2, 4] },
        //        { "width": "15%", "targets": [3] },
        //    ],
        //    "order": [[1, 'asc']],
        //    "displayLength": 6,
        //    "bInfo": false,
        //    "lengthChange": false,
        //    "oLanguage": {

        //        "sSearch": "Tìm Kiếm:",
        //        "sLengthMenu": "Xem _MENU_",
        //        "sProcessing": "Đang xử lý...",
        //        "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
        //        "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
        //        "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
        //        "sInfoFiltered": "(được lọc từ _MAX_ mục)",
        //        "sInfoPostFix": "",
        //    },
        //});

        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        TableManageButtons.init();
    })
</script>