<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-2">
                <a href="/"><img src="@Url.Content("~/Images/logo.png")" alt="logo" style="width:80%" /></a>
            </div>
            <div class="col-md-3">
                <div id="address-box">
                    <div id="address-list">
                        <div class="tit-name">Địa chỉ:</div>
                        <div class="tit-contain">Phòng 2626, VP6 Linh đàm, Phường Thịnh Liệt, Hoàng Mai, Hà Nội</div>
                        <div class="tit-name">Xưởng sản xuất:</div>
                        <div class="tit-contain">Xưởng sản xuất: Mão điền, Thuận Thành, Bắc Ninh</div>
                        <div class="tit-name">Điện thoại:</div>
                        <div class="tit-contain">KD1: 0988 701 899<br />KD2: 0966 410 789<br />KD3: 0988 218 335</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">capsacgb@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="introduce-title">Về chúng tôi</div>
                        <ul class="introduce-list">
                            <li class="item">
                                <a href="#">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    Giao hàng - Đổi trả
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    Chính sách bảo mật
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="introduce-title">Trợ giúp</div>
                        <ul class="introduce-list">
                            <li class="item">
                                <a href="#">
                                    Hướng dẫn mua hàng
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    Hướng dẫn thanh toán
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    Tài khoản giao dịch
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="contact-box">
                    <div class="introduce-title">Đăng ký nhận tin</div>
                    <form class='contact-form'>
                        <div class="input-group" id="mail-box">
                            <input type="email" placeholder="Đăng ký email" required="required" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">Gửi</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                    <div class="introduce-title">Liên kết</div>
                    <div class="social-link">
                        <a href="https://www.facebook.com/siphukiensaccapchinhhang/"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="cpr text-center">
            &copy; Bản quyền thuộc về <a href="http://motgiasi.com/" style="color: #0f9ed8" target="_blank">CÔNG NGHỆ GB</a> | <a target="_blank" href="#">VIỆT NAM</a>.
        </p>
    </div>
</footer>
