<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-3">
                <div id="address-box">
                    <a href="/"><img src="@Url.Content("~/Images/logo.png")" alt="logo" style="width:30%" /></a>
                    <div id="address-list">
                        <div class="tit-name">Địa chỉ:</div>
                        <div class="tit-contain">1005 Quang Trung, P.14, Q.G&#242; Vấp, Tp.HCM</div>
                        <div class="tit-name">Điện thoại:</div>
                        <div class="tit-contain">(08) 66 85 85 38</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">run02@runtime.vn</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="introduce-title">Về ch&#250;ng t&#244;i</div>
                        <ul class="introduce-list">
                            <li class="item">
                                <a href="/gioi-thieu.html">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="item">
                                <a href="/content/giao-hang-doi-tra.html">
                                    Giao h&#224;ng - Đổi trả
                                </a>
                            </li>
                            <li class="item">
                                <a href="/content/chinh-sach-bao-mat.html">
                                    Ch&#237;nh s&#225;ch bảo mật
                                </a>
                            </li>
                            <li class="item">
                                <a href="/lien-he.html">
                                    Li&#234;n hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="introduce-title">Trợ gi&#250;p</div>
                        <ul class="introduce-list">
                            <li class="item">
                                <a href="/content/huong-dan-mua-hang.html">
                                    Hướng dẫn mua h&#224;ng
                                </a>
                            </li>
                            <li class="item">
                                <a href="/content/huong-dan-thanh-toan.html">
                                    Hướng dẫn thanh to&#225;n
                                </a>
                            </li>
                            <li class="item">
                                <a href="/content/tai-khoan-giao-dich.html">
                                    T&#224;i khoản giao dịch
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="contact-box">
                    <div class="introduce-title">Đăng ký nhận tin</div>
                    <form class='contact-form'>
                        <div class="input-group" id="mail-box">
                            <input type="email" placeholder="Đăng ký email" required="required" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">Gửi</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                    <div class="introduce-title">Liên kết</div>
                    <div class="social-link">
                        <a><i class="fa fa-facebook"></i></a>
                        <a><i class="fa fa-youtube"></i></a>
                        <a><i class="fa fa-twitter"></i></a>
                        <a><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- /#introduce-box -->
        <!-- #trademark-box -->
        <div id="trademark-box" class="row">
            <div class="col-sm-12">
                <ul id="trademark-list">
                    <li id="payment-methods">Phương thức thanh toán</li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_1.jpg?v=42" alt="Phương thức thanh toán 1"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_2.jpg?v=42" alt="Phương thức thanh toán 2"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_3.jpg?v=42" alt="Phương thức thanh toán 3"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_4.jpg?v=42" alt="Phương thức thanh toán 4"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_5.jpg?v=42" alt="Phương thức thanh toán 5"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_6.jpg?v=42" alt="Phương thức thanh toán 6"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_7.jpg?v=42" alt="Phương thức thanh toán 7"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_8.jpg?v=42" alt="Phương thức thanh toán 8"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_9.jpg?v=42" alt="Phương thức thanh toán 9"></a></li>
                    <li><a href="javascript:;"><img src="/assets/100002/img/trademark_10.jpg?v=42" alt="Phương thức thanh toán 10"></a></li>
                </ul>
            </div>
        </div> <!-- /#trademark-box -->
        <p class="cpr text-center">
            &copy; Bản quyền thuộc về <a href="http://runtime.vn/" style="color: #0f9ed8" target="_blank">RUNTIME STORE</a> | <a target="_blank" href="https://www.runtime.vn">Powered by RUNTIME.VN</a>.
        </p>
    </div>
</footer>
