
<style>
    /*.new-login{
        padding-top: 15px;
    }*/
    .topsearch {
        line-height: 1.5;
    }
</style>

<!-- MAIN HEADER -->
<div class="container main-header">
    <div class="row">
        <div class="col-xs-12 col-sm-3 logo">
            <a href="/" class="logo" title="CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM">
                <img src="@Url.Content("~/Images/logo.png")" alt="CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM" title="CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM" style="width:50%">
            </a>
            <h1 style="display: none;">
                CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM
            </h1>
        </div>
        <div class="col-xs-10 col-sm-7 header-search-box">   
            <div class="search-box form-group" @*style="padding-right: 13px;"*@>
                <div class="form-group">
                    <h3 class="topsearch">
                        <strong>CTCP SẢN XUẤT & PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM</strong> 
                    </h3>
                    <div class="topsearch">
                        <strong>Hotline:</strong><a title="hot-line" href="#"><span class="hotline"> 0971.603.603</span></a> || <strong>Email:</strong><a title="hot-line" href="#"><span class="hotline"> capsacgb@gmail.com</span></a>
                    </div>
                </div>
                <form class="search form-inline">                    
                    <div class="input-serach">
                        <input type="text" name="search" data-provide="typeahead" class="search_box" id="txtsearch" placeholder="Nhập từ khóa tìm kiếm..." />
                    </div>
                    <button id="btnsearch" class="pull-right btn-search" onclick="SearchKeyWord(); return false;">
                        <span class="hidden-400">Tìm kiếm</span>
                        <span class="show-400"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </form>
            </div>
            
        </div>        
    </div>
</div>