
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ";
}
<style>
    .contentabct {
        background: url(../images/bgaboutcontact.png);
        min-height: 500px;
        padding-top: 15px;
        margin: 15px;
    }
</style>

<div class="form-group contentabct">
    <div class="container">
        <div class="row" style="padding: 13px 0px; ">
            <h2>CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM</h2><br />
            <div class="">
                <i class="fa fa-location-arrow"></i> <strong>Địa chỉ: </strong><span>Phòng 2626, VP6 Linh đàm, Phường Thịnh Liệt, Hoàng Mai, Hà Nội</span>
            </div><br />

            <div class="">
                <i class="fa fa-location-arrow"></i> <strong>Xưởng sản xuất: </strong><span>Xưởng sản xuất: Mão điền, Thuận Thành, Bắc Ninh</span>
            </div><br />
        </div>
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.6280595098387!2d105.83108891535834!3d20.96744669524351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac555927a9bb%3A0xbdfe41608e605ec8!2sVP6+Linh+Dam!5e0!3m2!1svi!2s!4v1524556514841" style="border: 0; width: 100%; height: 500px; " frameborder="0" allowfullscreen></iframe>
        </div><br />

        <div class="row" style="padding-top: 10px; ">
            <div>
                <i class="fa fa-location-arrow"></i> <strong>Liên hệ</strong>
            </div><br />
            
            <div class="">
                <i class="fa fa-phone"></i> <strong>Điện thoại: </strong><span>KD1: 0988 701 899 || KD2: 0966 410 789 || KD3: 0988 218 335</span>
            </div><br />

            <div class="">
                <i class="fa fa-mail-forward"></i> <strong>Email: </strong><span>capsacgb@gmail.com</span>
            </div><br />
        </div>
    </div>
</div>

