@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chính sách";
}
<style>
    .contentabct {
        padding-top: 40px;
    }

    p {
        font-size: 15px;
        line-height: 1.8;
    }
    ul {
        list-style: disc;
        padding-left: 37px;
    }
    ul > li {
        font-size: 15px;
        line-height: 1.8;
    }
</style>
<!DOCTYPE html>
<html>
<body>
    <div class="form-group contentabct">
        <div class="container">
            <div class="">
                <h1>Chính sách đại lý phụ kiện điện thoại GB</h1><br />
                <p>
                    Với mong muốn mở rộng phát triển thị trường phụ kiện điện thoại Việt, với thiện chí hỗ trợ và hợp tác với những đơn vị kinh doanh trên toàn quốc làm sao để phụ kiện điện thoại Việt có được chỗ đứng vững chắc và đến tay nhiều người tiêu dùng Việt hơn nữa. <i><strong>Phụ kiện điện thoại Bagi </strong></i>tuyển đại lý trên toàn quốc với những giá trị và ưu đãi hấp dẫn nhất.
                </p>
            </div><br />
            <div class="">
                <img class="img-responsive" alt="01" src="@Url.Content("~/Images/policy/agency_policy.jpg")" style="width: 100%; ">
            </div><br />
            <div class="">
                <h2><b>Quyền lợi của khách hàng khi gia nhập đại lý</b></h2><br />
                <p>
                    Chiết khấu hấp dẫn: để tạo điều kiện hỗ trợ tốt nhất về vốn cho các đơn vị kinh doanh trở thành đại lý đưa sản phẩm phụ kiện điện thoại GB rộng rãi khắp thị trường cả nước, GB luôn giành mức chiết khấu và ưu đãi hấp dẫn nhất.
                </p> <br />
                <h3><b></b>Cung cấp hàng chính hãng 100% sản xuất từ GB</h3> <br />
                <ul>
                    <li>Sản phẩm được cấp phép lưu hành toàn quốc, đạt chứng nhận tiêu chuẩn an toàn và chất lượng.</li>
                    <li>Cung cấp đến đại lý toàn bộ tài liệu, thông số kỹ thuật tiêu chuẩn liên quan đến các sản phẩm GB.</li>
                    <li>Xuất hóa đơn, chứng từ hàng hóa đầy đủ khi nhập hàng làm đại lý.</li>
                    <li>Áp dụng nhiều chương trình khuyến mại hấp dẫn cho nhà phân phối và đại lý, những chính sách khuyến khích đại lý bán hàng bằng các phần thưởng nóng theo doanh số.</li>
                    <li><i class="fa fa-phone"></i> Hotline: <strong style="color: orangered; ">0971 603 603</strong> để được hỗ trợ</li>
                </ul>
            </div>
        </div><br /><br />

        <div class="container">
            <div class="">
                <h1>Chính sách bảo hành sản phẩm GB</h1><br />
            </div>
            <div class="">
                <img class="img-responsive" alt="01" src="@Url.Content("~/Images/policy/guarantee_policy.jpg")" style="width: 100%; ">
            </div><br />
            <div class="">
                <h3><b>1. Thời hạn bảo hành</b></h3><br />
                <p>
                    Tất cả các sản phẩm phụ kiện điện thoại Bagi được bảo hành lỗi 1 đổi 1 trong vòng 12 tháng (tính từ ngày giao sản phẩm).
                </p>
            </div><br />
            <div class="">
                <h3><b>2. Điều khoản bảo hành</b></h3><br />
                <ul>
                    <li>Chỉ tiến hành bảo hành cho các sản phẩm còn trong thời hạn bảo hành.</li>
                    <li>Chỉ bảo hành đối với những lỗi gây ra từ nhà sản xuất trong quá trình sản xuất như lỗi kỹ thuật, tay nghề công nhân sản xuất.</li>
                    <li>Sản phẩm còn nguyên vẹn, tem bảo hành đầy đủ, không bị bong tróc, nứt vỡ hay biến dạng do tác động của ngoại lực.</li>
                </ul>
            </div><br />
            <div class="">
                <h3><b>3. Các trường hợp không chịu trách nhiệm bảo hành</b></h3><br />
                <p>Đối với những trường hợp dưới đây chúng tôi không chịu trách nhiệm bảo hành cho sản phẩm của khách hàng:</p>
                <ul>
                    <li>Người dùng tự ý tháo ra sửa chữa hoặc mang sản phẩm đi sửa chữa ở một trung tâm bảo hành khác không phải do GB chỉ định.</li>
                    <li>Hỏng do các nguyên nhân bất khả dụng khác như thiên tai, hỏa hoạn, bão lụt, sấm chớp, rơi vỡ, môi trường ẩm ướt, sự cố về điện gây nên,…</li>
                    <li>Sản phẩm bị hư hỏng do quá trình sử dụng dùng sai quy cách, kết nối sai nguồn điện.</li>
                </ul>
            </div><br />
            <div class="">
                <h3><b>4. Phương thức Bảo hành</b></h3><br />
                <p>– Sản phẩm đủ điều kiện bảo hành gửi về trung tâm bảo hành của GB.</p><br />
                <p>– Kỹ thuật viên kiểm tra nếu đúng lỗi của nhà sản xuất sẽ đổi bảo hành ngay lập tức.</p><br />
                <p>– Thời gian bảo hành chậm nhất 10 ngày (kể từ ngày trung tâm bảo hành tiếp nhận sản phẩm).</p><br />
                <p>– Nếu trong trường hợp sản phẩm đổi bảo hành không còn trong kho hàng, khách hàng có thể lựa chọn đổi một sản phẩm khác có giá trị và tính năng tương đương với sản phẩm bảo hành (điều này phải được sự thỏa thuận đồng ý của cả hai bên).</p>
            </div><br />
            <div class="">
                <h3><b>5. Địa điểm bảo hành</b></h3><br />
                <p>– Khách hàng liên hệ trực tiếp nơi mua hàng là địa chỉ nhà phân phối hoặc đại lý công ty để được hướng dẫn làm thủ tục bảo hành.</p><br />
                <p>– Trong trường hợp khách hàng mua hàng online liên hệ trực tiếp Hotline để được hỗ trợ và hướng dẫn bảo hành.</p><br />
                <p>Mọi thông tin chi tiết và muốn được tư vấn cụ thể xin liên hệ trực tiếp </p><br />
                <p><i class="fa fa-phone"></i> Hotline: <strong style="color: orangered; ">0971 603 603</strong> để được hỗ trợ</p>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">
        $(document).ready(function () {
            $('.menu-product li.child .open-close').on('click', function () {
                $(this).removeAttr('href');
                var element = $(this).parent('li');
                if (element.hasClass('open')) {
                    element.removeClass('open');
                    element.children('ul').slideUp();
                }
                else {
                    element.addClass('open');
                    element.children('ul').slideDown();
                }
            });
            $(".vertical-menu-content").addClass("no-home");
        })
</script>